*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 20px 0px;
    color:white;
    padding: 0;

}
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: sticky;
    top: 0;
}


.navbar ul li{
    display: inline;
    margin-right: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1rem;
    font-weight: bold;

}

.navbar ul li a {
    text-decoration: none;
    color: #000;
    padding: 8px 25px;
    transition: all .5s ease;
}

.navbar ul li a:hover {
    background-color: white;
    color: black;
    box-shadow: 0 0 10px white;
}



#home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    color: white;
}

#home::before{
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url('pic1.jpg') no-repeat center center /cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;

}
.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    
    position: absolute;
    top: 30%;
    right: 70%;
    margin-left: 0%;
    
}

.headings{
    font-family: century;
    font-size: 3rem;
    text-align: center;
    margin: 40px 0px;
}

.btn{
    display: block;
    margin: 50px auto;
    border: 1px solid #ff004f;
    color: #ff004f;
    outline: none;
    padding: 14px 50px;
    border-radius: 7px;
    width: fit-content;
}

.btn:hover{
    cursor: pointer;
    background-color: #ff004f;
    color: black;
    box-shadow: 0 0 5px #ff004f, 0 0 10px #ff004f, 0 0 15px #ff004f;
    font-weight: bold;

}

/* About */
#about{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px;
    margin-bottom: 50px;

}
#pic{
    display: flex;
}
#pic img{
    width: 575px;
    height: 400px;
}

#intro{
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 10px;
}


#intro p{
    
    font-size: 180%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#intro h2{
    font-size: 2rem;
    margin-bottom: 20px;
}

.p{
    font-size: large;
}



/*Porfolio*/

#portfolio{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    align-items: center;
    padding: 20px;
}

.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img{
    width: 360px;
    height: 240px;
    margin: 10px;

}


/* Contact */

#contact{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
}

/*.form{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    margin: 20px 0px;
}
.input{
    padding: 12px;
    margin: 15px;
    width: 30%;
    border: none;
    outline: none;
}

#msg{
    width: 20%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send{
    width: 10%;
    padding: 10px;
    margin: 15px;
    border: none;
    outline: none;
}

#send:hover{
    cursor: pointer;
    box-shadow: 0 0  10px white;
}*/


.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact left p i{
    color:#ff004f;
    margin-right: 15px;
    font-size: 25px;
}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    color: #ababab;
    display: inline-block;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);
}

.btn .btn2{
    display: inline-block;
    background-color: #ff004f;
    margin-top: 90%;
    text-decoration: none;
}

.contact-right form{
    width: 80%;
}

form input,form textarea{
    width: 80%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;

}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container{
    padding: 10px 10%;
}


#msg{
    color: #61b752;
    margin-top: -20px;
    display: block;
}

